<h1>Welcome To Hotel Booking</h1>
<hr> 
<%= form_with url: home_pages_path, method: :get, local: true do |f|%>
    <%= f.select :city, @uniq_cities%>
    <%= f.submit "SEARCH HOTELS"%>
<%end%>
<hr>

    <% @hotels.each do |hotel|%>
        <% hotel.rooms.each do |room|%> 
            <h1><%=link_to room.room_type, room_path(room.id)%></h1>
        <%end%>
    <%end%>


