.signUpHeading {
    margin-top: 20px
}
.signUpHeading h1 {
    font-size: 50px;
    text-shadow: 3px 1px 6px rgb(69, 69, 69);
    color: rgb(230, 230, 230);
}

.signUpHeading p {
    font-weight: bold;
}
.guest-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.label{
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.guest-submit{
    background-color: rgb(65, 162, 90);
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
}

.guest-signIn{
    background-color: rgb(50, 69, 240);
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
}

.formSignUp {
    margin: auto 10%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto auto auto;
}
.row {
    display: grid;
    grid-template-columns: 20% auto;
}
.account-subMenu {
    margin: 20px 20px;
}

.sign-up-box{
    margin: 60px 20%;
    background-color: rgb(233, 231, 231, .8);
    padding: 20px;
    border-radius: 10px;
}