
.background-full-container{
    background-color: white;
    width: 100vw;
} 
 .home-full-container{
    height:fit-content;
   background-color: white;
   padding: 0px 2%;
   margin: 0px 10%;
}
.card{
    box-shadow: 1px 1px 9px grey;
    flex-grow: 1;
}
.card:hover {
    transform: scale(1.05);
}
.card img{
    width: 200px;
    height: 150px;
    margin: 5px;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: rgb(233, 233, 233);
}
.menu-container a{
    color: white;
}

.page-heading {
    width: 100vw;
    background-color: rgba(166, 166, 169, 0.6);
    padding:20px 0px;
    color: rgb(233, 232, 232);
}

.menu-top{
    margin: 50px 0;
}

.search .search_hotel{
    width: 30%;
    height: 40px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.home-header-container{
    background-image: url(https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position-y: 600px;
    background-position-x: center;
    width: 100vw;
    padding: 40px 0px;
}
.inner-home-header{
    margin: 0px 10%;
}
.hotel-list-container{
    margin: 20px 0px;
    padding: 15px;
    border-radius: 15px;
    height: 700px;
    overflow: auto;
}
.home-footer{
    background-color: rgb(85, 85, 252);
    width: 100vw;
}
.home-footer ul{
    display: flex;
    list-style: none;
    margin: 0px;
}
.home-footer li{
    display: inline;
    flex-grow: 1;
    color: white;
    padding: 15px 0px;
}
.home-footer li:hover {
    font-weight: bolder;
    cursor: pointer;
}
.room-rate{
    width: 100px;
    background-color: rgb(177, 11, 11);
    color: white;
    font-weight: bold;
    margin: 0px 30%;
    padding: 5px 10px;
}
.home-book-button{
    font-size: 20px;
    border: 2px solid rgb(50, 50, 242);
    border-radius: 8px;
    margin: 5px 60px;
    padding: 5px 0px;
    color: rgb(49, 49, 210);
    background-color: white;
}
.home-book-button:hover{
    background-color: rgb(150, 150, 237);
    color: white;
    cursor: pointer;
}
