.full-container{
    background-color: white;
    padding: 0px 2%;
}
.card{
    flex-grow: 1;
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    color: rgb(233, 233, 233);
}
.menu-container a{
    color: white;
}

.page-heading {
    background-color: rgb(55, 55, 213);
    padding:20px 0px;
    color: rgb(233, 232, 232);
}

.menu-top{
    margin: 50px 0;
}

.search .search_hotel{
    width: 30%;
    height: 40px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

