.review-full-container {
    background-color: white;

    height: 100%;
    margin: 0px 10%;
}
.review-field {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.review-label{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.review-select{
    display: inline-block;
    width: 150px;
    height: 30px;
}
.review-error{
    border: 1px solid grey;
    margin: 5px 10%;
    border-radius: 8px;
    box-shadow: 1px 1px 9px grey;
    color: red;
}
.review-form{
    display: grid;
    grid-template-columns: 20% auto;
    width: 50%;
    margin: 0px auto;
    align-items: center;
}
.review-header h3{
    font-size: 25px;
    font-weight: bolder;
    
}
.review-post-button{
    display: block;
   border: 2px solid rgb(45, 135, 232);
   border-radius: 8px;
    margin: 0px auto;
    width: 200px;
    cursor: pointer;
}
.review-post-button:hover{
    font-weight: bolder;
}
.review-post {
    width: 100px;
    color: rgb(45, 135, 232);
    cursor: pointer;
}

