<div class="full-container">
    <h1>Hotel Information</h1>
    <img src=<%=@hotel.image%>>
    <h2>Name: <%=@hotel.name%></h2>
    <h2>City: <%=@hotel.city%></h2>
    <h2>Country: <%=@hotel.country%></h2>
    <h2>
        Stars: <%if @hotel.reviews.average(:star)%>
                    <%while @i <= @hotel.reviews.average(:star)%>
                    <i class="star icon"></i>
                        <%@i += 1%>
                    <%end%>
                <%else%>
                    <%"There have been no reviews written for this hotel"%>
                <%end%>
    </h2>
</div>